.close-icon-container {
  position: absolute;
  top: 10px;
  right: 10px;
  .close-icon {
    width: 30px;
    height: 30px;
  }
}

.login-page {
  width: 360px;
  margin-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.modal-form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.modal-title {
  margin-bottom: 45px;
}
.modal-form input {
  font-family: 'Roboto', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.modal-form button {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 0;
  padding: 15px;
  color: var(--accent-color);
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.modal-form button:hover,
.modal-form button:active,
.modal-form button:focus {
  background: var(--accent-color);
  color: #ffffff;
}
.modal-form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.modal-form .message a {
  color: var(--accent-color);
  text-decoration: underline;
}
.modal-form .register-form {
  display: none;
}
