.header-library {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--grey-900);

  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../img/header-library/bg-img-mob.jpg);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../img/header-library/bg-img-mob@2x.jpg);
  }

  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../img/header-library/bg-img-tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../img/header-library/bg-img-tablet@2x.jpg);
    }
  }
  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../img/header-library/bg-img-desktop.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../img/header-library/bg-img-desktop@2x.jpg);
  }

  .header__nav {
    margin-bottom: 47px;
  }

  .header__search {
    display: none;
  }
}
