:root {
  --primary-font: 'Roboto', sans-serif;

  --primary-text-color: #000000;
  --secondary-text-color: #545454;
  --accent-color: #ff6b08;
  --white-text-color: #ffffff;
  --error-text-color: #ff001b;
}
