<header class="container header-library">
    <div class="header-nav">
    <h1 class="logo">
        Filmoteka
    </h1>
    <nav>
        <ul class="navigation">
            <li class="nav">
                HOME
            </li>
            <li class="nav">
                MY LIBRARY
            </li>
        </ul>
    </nav>
    </div>
    <div>
        <button type="button" class="btn current">
         WATCHED
        </button>
        <button type="button" class="btn">
           QUEUE 
        </button>
    </div>
</header>