<header id="page-header" class="header header-home">
  <!--class="header-library"-->
  <div class="container header-container-js">
    <nav class="header-nav header__nav">
      <a href="#home" class="logo home-page-js" data-link>
        <svg class="logo-svg home-page-js" width="24" height="24" aria-label="Логотип Фильмотеки">
          <use href="./img/sprite.svg#icon-film" class="home-page-js"></use>
        </svg>
        <!--"/" - вернуться на главную страницу-->
        <span class="logo-film home-page-js">Filmoteka</span>
      </a>

      <ul id="page-nav" class="nav">
        <li class="nav-item">
          <a href="#home" class="link-nav home-page-js current" data-link> home </a>
        </li>
        <li class="nav-item">
          <a href="#library" class="link-nav library-page-js" data-link> my library </a>
        </li>
        <li class="nav-item">
          <a href="#login" class="link-nav" id="login"> login </a>
          <a href="#logout" class="link-nav" id="logout"> logout </a>
        </li>
      </ul>
    </nav>

    <form class="search-form search-form-js header__search">
      <div class="search-form__field-group">
        <input
          class="search-form__input"
          type="text"
          placeholder="Search for a movie..."
          name="query"
          autocomplete="off"
        />
        <button class="search-form__icon-btn" type="submit">
          <svg width="12" height="12" class="input-form-icon" aria-label="Логотип Фильмотеки">
            <use href="./img/sprite.svg#icon-search"></use>
          </svg>
        </button>
      </div>

      <p class="search-form__field-error">
        Search result not successful. Enter the correct movie name and try again
      </p>
    </form>

    <div class="btn-flex header__actions">
      <button type="button" class="btn current-btn watched">watched</button>
      <button type="button" class="btn queue">queue</button>
    </div>
  </div>
  <!-- /.container-->

  <!-- Разметка переключателя темы -->
  <div class="theme-switch header__theme-switch">
    <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
      <use href="./img/color-switch/sprite.svg#sun"></use>
    </svg>

    <div class="theme-switch__control">
      <input
        class="theme-switch__toggle"
        type="checkbox"
        name="theme"
        id="theme-switch-toggle"
        aria-label="Переключить между тёмной и светлой темой"
      />
      <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle"> </label>
      <div aria-hidden="true" class="theme-switch__marker"></div>
    </div>

    <svg class="theme-switch__icon" aria-label="Иконка луны">
      <use href="./img/color-switch/sprite.svg#moon"></use>
    </svg>
  </div>
</header>
