<main class="main">
  <div class="container">
    <h1 class="is-hidden">Filmoteka</h1>
    <div class="main__section-wrapper">
      <ul class="main__section-list"></ul>
      <ul class="library__section-list is-hidden"></ul>
    </div>
    <p class="main__library-info is-hidden">
      <span class="main__library-deco">...Oops.</span>It seems like you haven't chosen any film to
      your library yet.
    </p>
    <div class="scrollToTopBtn arrow"></div>
    <div class="pagination">
      <ul class="pagination__list"></ul>
    </div>
  </div>
</main>
