<div class="login-page is-hidden">
  <div class="modal-form">
    <div class="close-icon-container">
      <svg width="14" height="14" class="close-icon" aria-label="Логотип Фильмотеки">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </div>
    <form class="register-form">
      <h2 class="modal-title">Register</h2>
      <input type="email" placeholder="email" id="email" />
      <input type="password" placeholder="password" id="password" />
      <button>create</button>
      <p class="message login-message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <h2 class="modal-title">Login</h2>
      <input type="email" placeholder="email" id="email" />
      <input type="password" placeholder="password" id="password" />
      <button>login</button>
      <p class="message create-message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>
