<header class="header">
  <div class="container">
    <nav class="nav">
      <!-- Главный блок навигации -->

      <a href="#" class="logo">
        <svg width="24" height="24" aria-label="Логотип Фильмотеки">
          <use href="./img/sprite.svg#icon-film"></use>
        </svg>
        <span class="logo__title">Filmoteka</span>
      </a>

      <ul class="menu-btn">
        <li class="menu-btn__link"><a href="" class="menu-btn__btn current">home</a></li>
        <li class="menu-btn__link"><a href="" class="menu-btn__btn">my library</a></li>
      </ul>
    </nav>

    <form action="search-form">
        <input class="search-form__input" type="text" placeholder="Поиск фильмов" name="search-query"/>
        <button class="search-form__btn">
          <svg width="12" height="12" aria-label="Логотип Фильмотеки">
            <use href="./img/sprite.svg#icon-search"></use>
          </svg>
        </button>
      </span>
    </form>
    <p class="warning">Search result not successful. Enter the correct movie name and </p>
  </div>
</header>
