.movie-poster {
  height: 100%;
  width: 100%;
}
.movie-name {
  font-weight: 500px;
  font-size: 12px;
  font-family: var(--primary-font);
  text-transform: uppercase;
  margin: 0;
}
.movie-details {
  font-weight: 500px;
  font-size: 12px;
  margin: 0;
  color: var(--accent-color);
}
.movie-rating {
  padding: 1px 9px;
  border-radius: 10px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
.img-wrapper {
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    width: 294px;
    height: 398px;
  }
  @media screen and (min-width: 1024px) {
    width: 274px;
  }
}
