.movie-poster {
  margin-bottom: 10px;
}
.movie-name {
  font-weight: 500px;
  font-size: 12px;
  font-family: var(--primary-font);
  text-transform: uppercase;
  margin: 0;
}
.movie-details {
  font-weight: 500px;
  font-size: 12px;
  margin: 0;
  color: var(--accent-color);
}
.movie-rating {
  padding: 1px 9px;
  border-radius: 10px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
