.main {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and(min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.main__section {
  margin-bottom: 40px;
  @media screen and(min-width: 768px) {
    margin-bottom: 50px;
  }
  @media screen and(min-width: 1024px) {
    margin-bottom: 50px;
  }
}

.library__section {
  margin-bottom: 40px;
  @media screen and(min-width: 768px) {
    margin-bottom: 50px;
  }
  @media screen and(min-width: 1024px) {
    margin-bottom: 46px;
  }
}

.main__section-item {
  @media screen and(max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and(min-width: 768px) {
    margin-bottom: 30px;
    margin-left: 30px;
  }
}

.main__section-list {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-left: -30px;
  }
}

.main__section-link {
  display: block;
}
