.page-footer {
  background-color: var(--bg-light);
  color: var(--footer-text-color);
  padding: 28px 0;
  text-align: center;

  @media screen and (min-width: $mob) {
    font-size: 14px;
    line-height: 22px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 18px;
  }

  &__action-btn {
    @include button-reset();
    text-decoration: underline;
    transition: color var(--transition-timing);
    @include hover() {
      color: var(--accent-color);
    }
  }
}
