// .backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   background-color: rgba(0, 0, 0, 0.25);
//   overflow: auto;
// }

// .backdrop.is-hidden {
//     opacity: 0;
//     pointer-events: none;
// }

.modal-images {
  overflow: auto;
  max-width: 280px;
  padding-top: 48px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;
  background-color: #fff;
  margin: 0 auto;

  @media (min-width: $tablet) {
    max-width: 618px;
    padding-top: 42px;
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (min-width: $desktop) {
    max-width: 882px;
    padding-top: 50px;
  }
}

.modal-content {
  display: block;
  @media (min-width: $tablet) {
    padding-right: 12px;
    display: flex;
  }
}

// .close-icon-container {
//   background-color: transparent;
//   border: none;
//   display: flex;
//   justify-content: flex-end;
// }

.modal-title {
  //   margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 23px;

  @media (min-width: $desktop) {
    font-size: 30px;
    line-height: 35px;
  }
}

.rating-vote {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  border-radius: 5px;
  margin-right: 3px;
  line-height: 14px;
  padding: 1px 10px;

  //   width: 36px;
}

.rating-votes {
  background-color: var(--grey-100);
  border-radius: 5px;
  line-height: 14px;
  padding: 1px 10px;
  margin-left: 3px;
}

.text-content {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 21px;
}

.description-film {
  color: #8c8c8c;
  font-size: 12px;
  width: 50%;

  @media (min-width: $tablet) {
    width: 50%;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop) {
    width: 58%;
  }
}
.description-film-info {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;

  &-title {
    text-transform: uppercase;
  }

  @media (min-width: $tablet) {
    padding-bottom: 10px;
  }
}

.about-film {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

.img-film {
  margin-bottom: 30px;
  border-radius: 5px;
  @media (min-width: $tablet) {
    height: 374px;
    width: 264px;
    margin-right: 32px;
  }

  @media (min-width: $desktop) {
    height: 477px;
    width: 396px;
  }
  margin-right: 30px;
}

.btn-card {
  justify-content: center;
  display: flex;

  @media (min-width: $desktop) {
    display: inline-flex;
  }
}

.watched-btn {
  width: 112px;
  height: 44px;
  margin-right: 15px;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border: 1px solid #000;
  font-weight: 500;
  border-radius: 5px;
  font-size: 12px;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet) {
    width: 125px;
    height: 44px;
  }

  @media (min-width: $desktop) {
    width: 136px;
    height: 44px;
  }
}

.queue-btn {
  width: 112px;
  height: 44px;
  background: var(--white-text-color);
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  border: 1px solid #000;
  cursor: pointer;

  @media (min-width: $tablet) {
    width: 125px;
    height: 44px;
  }

  @media (min-width: $desktop) {
    width: 136px;
    height: 44px;
  }
}

// .modal-current-btn {
//   color: var(--white-text-color);
//   background-color: var(--accent-color);
//   border: none;
// }
