.header-background {
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 0;
  background-color: #2f303a;
  text-align: center;
  justify-content: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4) /*59:00 https://www.youtube.com/watch?v=l7qT8Umnyuo&feature=youtu.be*/
    ),
    url(../img/headerFirst.jpg);
  background-repeat: no-repeat; /*48:55 мин https://www.youtube.com/watch?v=VThG4A-4bJQ&feature=youtu.be*/
  /*background-position: center;*/
  background-size: cover;
}

.logo-list {
  display: flex;
  align-items: center;
}

.logo-header {
  width: 24px;
  height: 24px;
}
.logo-web {
  @media (max-width: 768px) {
    visibility: hidden;
  }

  color: #ffffff;
  margin-left: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  //   display: flex;
  //   align-items: center;
  //   text-align: center;
}

.main-nav {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 38px;
}

.site-nav .item + .item {
  /*альтернатива .site-nav .item:not(:last-child), но при использовании :last-child необходимо использовать - margin-right: 50px; */
  /*outline: 1px solid red;*/

  margin-left: 40px;
}

.site-nav .link {
  display: inline-block;

  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.02em;

  position: relative;
  &:hover,
  &:focus {
    color: red;
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.16;
  }
}

.site-nav {
  display: flex;

  & .current::after,
  & .link:hover::after,
  & .link:focus::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    margin-top: 1px;
    background-color: #ff6b08;

    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1200px) {
    }
  }
}

// .input-header {
//   display: flex;
//   text-align: center;
//   align-items: center;
// }
// .input-header {
//   position: relative;
//   max-width: 336px;

//   & .input-form {
//     color: #ffffff;
//     //   position: absolute;
//     //   top: 50%;
//     //   left: 50%;
//     //   transform: translate(-50%, -50%);
//     background: rgba(0, 0, 0, 0.6);
//     width: 100%;
//     height: 20px;
//     margin-top: 4px;
//     padding: 0px;
//     margin-left: auto;
//     margin-right: auto;

//     @media screen and (min-width: 768px) {
//       width: 336px;
//       height: 20px;
//     }
//   }
//   & .input-form-icon {
//     display: block;
//     position: absolute;
//     bottom: 7px;
//     right: 25px;
//     width: 12px;
//     height: 12px;
//     fill: #ffffff;
//     @media screen and (min-width: 768px) {
//       bottom: 7px;
//       right: -65px;
//     }
//   }
// }

.search-form {
  //   text-align: center;

  height: 20px;
  max-width: 336px;
  @media screen and (min-width: 768px) {
    max-width: 336px;
    height: 20px;
  }
  &-relative {
    position: relative;
  }

  &_input {
    background: rgba(14, 10, 10, 0.6);
    width: 100%;
    color: #ffffff;

    margin-top: 4px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
      width: 336px;
      height: 20px;
    }
  }

  &_icon_btn {
    position: absolute;
    top: 38%;
    right: 12px;
    transform: translate(0, -50%);
    @include button-reset();
  }
}
