.main {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and(min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__section-item {
    @media screen and(max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    @media screen and(min-width: 768px) {
      margin-bottom: 30px;
      margin-left: 30px;
    }
  }

  &__section-list {
    @media screen and(min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: -30px;
      margin-left: -30px;
    }
  }

  &__section-link {
    display: block;
  }

  &__section-wrapper {
    margin-bottom: 40px;

    @media screen and(min-width:$tablet) {
      margin-bottom: 50px;
    }
    @media screen and(min-width:$desktop) {
      margin-bottom: 48px;
    }
  }
}
